body{
    background-color: rgb(151, 190, 216);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.subtitle{
    color: rgb(27, 20, 95);
}

p{
    color: rgb(61, 88, 138)
}